@import 'mfglabs_iconset';

$selectedBgColor: #EEEFAA;
$linkColor: #006DCE;
$warningColor: #C70000;
$inputColor: #5F5F5F;
$inputBgColor: #FBFBFB;
$inputBorderColor: #8c8c8c;
$inputDisabledColor: #5F5F5F;
$inputWarningBorderColor: #8C0000;
$inputWarningBgColor: #CA0000;
$modalBgColor: rgba(0, 0, 0, 0.72);


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    font-size: 30pt;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

html {
    min-height: 100%;
}

body {
    flex: 1;
}

input[type="text"], textarea, .pseudo-input-text, select {
    -webkit-appearance: none;
    border-radius: 5px;
    border: 1px solid $inputBorderColor;
    padding: 0.3rem 32px 0.3rem 0.5rem;
    font-size: 0.75rem;
}

select {
    background: url('/images/select_bg.png') no-repeat right white;
}


button {
    font-size: 0.75rem;
}

.icon.fa {
    font-size: 1rem;
}

#react {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    padding: 0.1rem;
}

.input-with-keyboard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

.amount-input {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
}

.comment {
    font-size: 0.75rem;
}

.keyboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    border: 1px solid #F3F3F3;

    &__row {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    &__key {
        display: flex;
        flex: 1;
        border: 1px solid #F3F3F3;
        justify-content: center;
        align-items: center;

        .icon {
            font-size: 0.75rem
        }
    }

    &__key:active {
        background: $selectedBgColor;
    }
}

.category-picker {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    > button {

    }

    select {
        font-size: 0.75rem;
    }
}

.header {
    &__placeholder {
        height: 1.1rem;
    }

    &__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.2rem;
        display: flex;
        font-size: 0.75rem;
        align-items: center;
        justify-content: space-between;
        background: #000000;
    }

    &__hamburger {
        display: flex;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }

    &__separator {
        display: flex;
        flex: 1;
    }

    &__queue-status {
        cursor: pointer;
    }

    &__net-status {
        padding-right: 0.25rem;
    }

    &__net-status, &__queue-status, &__hamburger {
        color: white;
    }
}

.queue {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;

    &__task {
        display: flex;
    }

    &__msg {
        display: flex;
        flex: 1;
    }
}


.system-menu {

    &__item {
        padding: 0.25rem 0.25rem;
    }

    &__item:active {
        background: $selectedBgColor;
    }
}



.arrow-up, .arrow-down, .arrow-right, .arrow-left {
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

.arrow-up {
    border-top: none;
    border-bottom-color: black;
}

.arrow-down {
    border-top-color: black;
    border-bottom: none;
}

.arrow-right {
    border-left-color: black;
    border-right: none;
}

.arrow-left {
    border-right-color: black;
    border-left: none;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $modalBgColor;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    z-index: 9999;

    &__column {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        &__cell {
            background: white;
            border-radius: 4px;
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: stretch;
            flex-direction: column;
        }
    }

    &__msg {
        margin: 1rem;
    }

    &__msg.warning {
        color: $warningColor;
    }

    &__controls {
        text-align: center;
        margin: 1rem 0 0;
    }
}


.date-time-picker {
    .modal-container__column__cell {
        padding: 0;
    }
    &__modal-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        flex: 1;

        &__section {
            border-bottom: 1px dashed #D6D6D6;
            padding: 0rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        &__section:nth-child(2) {
            flex: 1;
        }

        &__section:last-child {
            border-bottom: none;
        }

        &__controls {
            padding: 0.2rem;
        }
    }

    .pseudo-input-text {
        cursor: pointer;
    }


}

.date-picker {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex:1;

    &__months {
        &__title {
            font-weight: bold;
            padding: 0 1rem;
        }
    }

    &__calendar {
        margin: 0.75rem 0;
        display: flex;
        flex-direction: column;
        flex: 1;

        > thead {
            display: flex;
            flex-direction: column;
            > tr {
                display: flex;
                justify-content: space-around;
                flex: 1;
                > td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                }
            }
        }

        > tbody {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            > tr {
                display: flex;
                justify-content: space-around;
                flex: 1;
                > td {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                }
            }
        }


        &__header {
            font-weight: bold;
        }

        &__cell {
            text-align: center;
            cursor: default;
            font-size: 0.75rem;

            &--active {
                background: $selectedBgColor;
            }

            &--another-month {
                color: #CCCCCC;
            }
        }
    }
}

.time-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex: 1;

    &__input {
        font-size: 2rem;
        width: 2.5rem;
        text-align: center;
        border: none;
        margin: 0;
        padding: 0;
    }

}


.v-counter {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    margin: 0.2rem;

    &__middle {
        border-left: 1px solid $inputBorderColor;
        border-right: 1px solid $inputBorderColor;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex: 1;
    }


    &__button {
        display: flex;
        justify-content: center;
        margin: 0;
        outline: none;
        flex-basis: 1rem;
        align-items: center;
        text-align: center;

        &--up {
            border-radius: 5px 5px 0 0;
        }

        &--down {
            border-radius: 0 0 5px 5px;
        }

        /* fix align in safari */
        > * {
            margin: 0 auto;
        }
    }
}


.h-counter {

    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0.2rem;


    &__middle {
        border-bottom: 1px solid $inputBorderColor;
        border-top: 1px solid $inputBorderColor;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }


    &__button {
        display: flex;
        justify-content: center;
        margin: 0;
        outline: none;
        flex-basis: 1rem;
        align-items: center;
        text-align: center;

        &--up {
            border-radius: 0 5px 5px 0;
        }

        &--down {
            border-radius: 5px 0 0 5px;
        }

        &--up, &--down {
            padding: 6px 10px;
        }

        /* fix align in safari */
        > * {
            margin: 0 auto;
        }
    }
}
